html, body{
    height: 100% !important;
}


html{
    background: #fff;
    overflow: hidden;
}

#root-container.nano {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  
  .content{
     // height: 310px;
  }
}
/* Onsite Styles slightly different */
body.on-site-editing{
    padding-top: 0px;

    .kb_field{

        label.heading {
            display: block;
            margin-bottom: 8px;
            border-left: 12px solid #33b5e5;
            padding-left: 9px;
            margin-left: -20px;
            font-style: italic;
            font-size: 13px;
            color: #333333;
            text-shadow: 1px 1px 0px white;
        }
    } 

    .kb_fieldtabs{

        ul.ui-tabs-nav{
            margin-left: 0;
            background: #fff;
        }

        .ui-widget-content{
            border: none;
            border-top: none;
        }
    } 

    .os-header{
        padding: 4px;
        position: fixed;
        width: 100%;
        margin-left: 0px;
        margin-top: -20px;
        z-index: 9999;
        bottom: 0;
        font-size: 12px;
        background:#fff;

        .os-update{
            background: #f2f2f2;
            border: 1px solid #ccc;
            padding: 4px 10px;
            cursor: pointer;
            font-size: 12px;

            &:hover{
                color: #fff;
            }
        }
    }
}