.flexible-fields--header{
  padding: 10px 0;
}

.flexible-fields--toggle-title {
  background-color: #fafafa;
  border: 1px solid #ccc;
  position: relative;

  & h3 {
    padding: 3px !important;
    margin: 0 !important;
    font-size: 16px !important;
  }

  & input[type="text"] {
    font-size: 13px !important;
    padding-left: 15px;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin: 0 !important;

    &:hover {
      border-color: #ccc;
      background-color: #fafafa;
    }

    &:focus {
      background-color: #fff !important;
      box-shadow: none;
    }
  }

  .flexible-fields--js-toggle {
    font-size: 18px !important;
    position: relative;
    top: 5px;
    left: 3px;
    cursor: pointer;
    color: #999;

    &:hover{
      color: #333;
    }
  }

  .flexible-fields--js-drag-handle {

    cursor: move;
    &:before {
      top: 3px;
      position: relative;
      font-size: 24px !important;
      left: -3px;
      color: #666;
      text-shadow: 1px 1px 1px #FFF;
    }

  }

  .flexible-fields--js-trash {
    position: absolute;
    right: 15px;
    font-size: 15px !important;
    top: 11px;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

.flexible-fields--section-box {
  border: 1px solid $lightgrey;
  padding: $halfpadding;
}



.os-content-inner {
  .flexible-fields--item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}