.kb-field--image, .kb-field--cropimage {

  padding-bottom: 10px;

  .kb-field-image-wrapper {
    overflow: hidden;
  }

  .kb-js-add-image {
    cursor: pointer;
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    max-height: 350px;
    min-width: 150px;
    min-height: 150px;
    padding: 10px;
    margin-right: 15px;
    display: inline-block;
  }

  .kb-js-image-meta-wrapper {

    label {
      display: block;
      font-weight: 100;
      font-size: 12px;
    }

    input[type=text] {
      color: #333;
      font-weight: 100;
    }
  }

  .kb-field-image-title{
    margin-bottom: $halfpadding;

    input{
      border: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }

    label{
      display: block;
    }
  }

  .kb-field-image-meta{
    display: inline-block;
    vertical-align: top;
    padding: 8px;

    textarea{
      width: 100%;
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
      resize: none;
    }

  }

  .kb-field-image--footer{
    clear: both;
    margin-top: 10px;
    padding: 8px 0;
  }
}

.kb-image-frame{

  .attachment-display-settings, [data-setting="alt"],[data-setting="description"]{
    display: none !important;
  }

}