.postbox.fields-renderer-sections {

  background-color: transparent;
  border: none;

  .inside{
    padding: 0 !important;
  }

  .kb-custom-wrapper{
    background-color: transparent;
  }

  .kbf-section-wrap{
    background-color: #fff;
    margin-bottom: 20px;
  }

}