.kb-field--tabs{

  position: relative;
  zoom: 1;

  a:focus{
    box-shadow: none;
  }

  ul.ui-tabs-nav{
    margin-bottom: 0px;
    margin-left: 0px;
    padding:10px 0 0 0;
    overflow: hidden;
    list-style: none !important;

    li{
      padding: 8px 0px 5px 0px;
      background: #fff;
      float: left;
      margin-bottom: 0;
      position: relative;
      top:0px;


      a{
        padding: 2px 22px;
        text-decoration: none;
        color:#999;
        top:2px;
        font-weight:100;
        font-size: 13px;
        border: none;
        &:focus, &:active{
          border: none;
          outline: none;
        }

        &:hover{
          color: #666;
          border: none;
        }
      }

      &.ui-tabs-active{
        background-color: #fff;
//        border-right: 1px solid #eee;

        a{
          color: #000;
          font-weight: 500;
          border-bottom: 1px solid #222;
        }
      }
    }
  }

  .ui-widget-content{
    padding:0px;
  }
}