/*------------------------------------*\
    ..for the area settings toggle
    box on the post edit screen
\*------------------------------------*/

.js-area-settings-opener {
  cursor: pointer;
  padding-left: 0px;
  width: 35px;
  height: 35px;
  background: image-url('icon-cog-small.png') center no-repeat;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  opacity: 0.4;

}

.kb-area--body{
  //overflow: hidden;
}

.kb-area__wrap:hover {
  .js-area-settings-opener {
    opacity: 1;
  }

}

.kb-area-settings-wrapper {
  overflow: hidden;
  background: whitesmoke;
  box-shadow: inset -1px 1px 12px #aaa;
  border-bottom: 1px solid #aaa;
}

.kb-area-settings {

  padding: 10px;

  .kb-area-templates {
    overflow: hidden;

    li {
      display: block;
      float: left;
      margin-left: 8px;

    }
  }
}

.kb-area-actions {
  position: absolute;
  right: $fullpadding;
  top: 8px;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
    color: $grey-500;
    cursor: pointer;
    &:hover {
      color: $grey-900;
    }
  }
}

.kb-area__wrap{

  border-left: 3px solid $green;

  &.kb-area-status-inactive {
    opacity: 0.9;
    border-left: 3px solid $red;
    .kb-area--body{
      display: none;
    }
  }
}