/*------------------------------------*\
    Context region styles
\*------------------------------------*/

.kb-context__header {
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  background: #fff;
  overflow: hidden;
  position: relative;

  .kb-button-small {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    font-size: 11px;
    height: 100%;
    line-height: 35px;
    padding: 0 10px;
  }

}

#poststuff .kb-context__header h2, #poststuff .kb-context__container h2 {
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #222;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  //  text-shadow: 0px 1px 1px #fff;
}

.kb-context__header p.description {
  color: #aaa;
  font-size: 12px;
  display: none;
}


.kb-global-areas-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9995;
}



.kb-global-areas-browser-wrap {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  min-height: 300px;
  z-index: 9998;
  background-color: #fff;
  border: 1px solid $grey-500;
  padding: $halfpadding $fullpadding $fullpadding;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 4px;
      border-bottom: 1px solid $grey-500;
      cursor: pointer;
      transition: background .1s ease-out;
      position: relative;

      .kb-button-small {
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {

        h4, p, span {
          color: #000;
        }
      }

      h4 {
        margin-bottom: 0;
        margin-top: 0;
        span {
          font-weight: 100;
        }
      }

      h4 + p {
        margin-top: 0;
        margin-bottom: 4px;
      }

      .dashicons {
        position: relative;
        top: -2px;
        transition: all .3s ease-out;
        background-color: $lightblue;
        color: #fff;
        border-radius: 20px;
        @extend .base-box-shadow;
        padding: 3px;
      }

      .kb-global-area-item {
        display: inline-block;
        margin-left: 12px;
      }
    }
  }

  .kb-context-browser--header {
    position: relative;

    .close-browser {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 12px;
      color: $grey-900;
    }
  }

}

.kb-context-row .grid__col{
//  transition: width .1s ease-out;
}

.kb-context-bar{
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.kb-context-downsized{


  .kb-context__inner{
    position: relative;
    overflow: hidden;
    height: 150px;
  }

  .kb-context-inner--overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 8999;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    span{
      display: block;
      padding: $halfpadding;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.kb-context-bar--actions{
  margin: 0;
  padding: 0;

  li{
    display: inline-block;
    margin: 0 0 0 2px;
    padding: 0;
    cursor: pointer;

    span{
      display: block;
      height: 100%;
    }
  }

  .kb-context-hidden .kb-button-small{
    background-color: $grey-100;
    color: $grey-500;
  }
}