#module-browser {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 65%;
  z-index: 299;
  padding: $fullpadding;
  @extend .base-box-shadow;
  @extend .base-box-border;
}

body.kontentblocks-ready #module-browser{
  z-index: 9998;
}

.module-browser-wrapper * {
  box-sizing: border-box;
  position: relative;
  .close-browser {
    position: absolute;
    right: 8px;
    top: 12px;
    color: #333;
    cursor: pointer;
    z-index: 59;
    font-size: 12px;
  }

}

#wpwrap {
  transition: all .8s ease-in-out;
}

#wpwrap.module-browser-open {
  filter: blur(2px);
  pointer-events: none;
}

.module-browser-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;

  &.module-browser--excerpt-view {
    .module-browser--switch__excerpt-view {
      color: #333;
    }
  }

  &.module-browser--list-view {

    .module-browser--switch__list-view {
      color: #333;
    }

    .module-browser__right-column {
      width: 0;
    }

    .module-browser__left-column {
      width: 100%;
    }

  }

}

.module-browser-header {
  height: 36px;
  background: #fff;
  position: relative;
  z-index: 99;
  padding-left: 0px;
  margin-bottom: $halfpadding;

  .dashicons {
    position: absolute;
    color: #333;
    top: 11px;
    font-size: 16px;
    cursor: pointer;
    z-index: 60;

    &.module-browser--switch__list-view {
      right: 65px;
    }

    &.module-browser--switch__excerpt-view {
      right: 40px;
    }
  }

  ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
  }

  /*li*/
  .cat-item {
    display: inline-block;
    color: #333;
    padding: 3px 10px;
    line-height: 24px;
    cursor: pointer;
    font-size: 13px !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;

    &.active {
      font-weight: bold;
      background-color: $lightblue;
      color: $lightwhite;
    }
  }
}

.module-browser__left-column {
  box-sizing: border-box;
  width: 280px;
  display: block;
  float: left;
  height: 100%;
  margin-top: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
  transition: all .2s linear;
}

.module-browser__right-column {
  width: 510px;
  display: block;
  height: 100%;
  //  margin-top: -36px;
  padding-top: 36px;
  padding-right: 10px;
  float: left;
  transition: all .2s linear;

  .module-browser--poster-wrap {

    margin-bottom: 20px;
    width: 96%;

    img {
      max-width: 100%;
    }

  }

}

.modules-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.modules-list, .module-description {
  margin: 0 !important;
  padding: 0 0 72px !important;
}

.module-description h3 {
  padding-left: 15px;

  .kb-button-small{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }

}

.modules-list-item {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: $halfpadding 0 !important;
  margin: 0 !important;

  &:hover {
    background-color: #fff;
    cursor: pointer;

    .dashicons-plus{
        background-color: $lightblue;
        color: #fff;
    }

  }

  .dashicons-plus {
    position: absolute;
    left: 0%;
    top: 50%;
    margin-top: -16px;
    padding: 5px;
    width: auto;
    height: auto;
    border-radius: 6px;
    line-height: 1;
    z-index: 595;
    transition: all .3s ease-in-out;
  }

  h4 {
    display: inline-block;
    font-size: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 40px !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  }

  p {
    padding-top: 0 !important;
    margin: 0 !important;
    padding-left: 40px !important;
    font-size: 14px !important;
    font-family: 'Open-Sans', sans-serif !important;
  }
}

.modules-list-item.clipboard-list-item{
  padding-left: 0 !important;

  h4{
    padding-left: 0 !important;
  }
  p{
    padding-left: 0 !important;
  }

  .kb-clipboard-action{
    @extend .kb-button-small;
    display: inline-block;
  }
}

.kb-module-browser--backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
}