.kb-template-selector--wrapper{
  padding: 0px 0px;
//  background: #fafafa;
//  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 101;
  font-family: 'Open Sans';

  .kb-selectbox{
    float: right;
    padding: 0;
    background: transparent;
    border-left: 0;
    label{
      color: #ccc;
      font-size: 11px;
    }

    &:focus{
      box-shadow: none;
    }
  }

  select{
    font-size: 12px !important;
    width:150px;
    height: 30px !important;
    line-height: 100% !important;
    font-family: 'Open Sans' !important;

  }

}