/* Colors */

$grey: #9E9E9E;
$mid-grey: #9e9e9e;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9e9e9e;

$dark-grey: #23282d;
$lowgrey : #23282d;
$grey-900 : #23282d;

$box-bg: #f9f9f9;

$lightgrey: #cecece;
$lightwhite: #f9f9f9;
$mediumgrey: #a5a5a5;

$lightblue: #03A9F4;
$lighterblue: #05ceff;
$ultralightblue: #b4ecff;
$blue: #2196F3;
$orange: #FF9800;
$red: #F44336;
$deeporange: #FF5722;
$green: #009688;

$fullpadding: 24px;
$halfpadding: 12px;

// Genericons Include
@import "assets/genericons/genericons.css";

.hide {
  display: none;
}

/*------------------------------------*\
    base extends
\*------------------------------------*/

.base-box-shadow{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.base-box-border{
  border: 1px solid $lowgrey;
}

.base-transition-timing{
  transition-timing-function: cubic-bezier(0.555, 0.205, 0.130, 1.380);
}