.global-area-edit{
    
    .kb_page_wrap{
        padding: 0;
    }
    
    .area-holder{
        border: 0;
        box-shadow: 0;
        background: #fff;
    }
    
    .kb_page_wrap{
        max-width: 100%;
        border: 0;
    }
    
    span.title{
        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 22px;
    }
}