.kb-fullscreen-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 297;
}

.kb-fullscreen--holder {
  position: absolute;
  width: 1000px;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  min-height: 600px;
  z-index: 298;
  padding: $fullpadding;
  background-color: #fff;
  @extend .base-box-shadow;
  @extend .base-box-border;
}

body.kontentblocks-ready .kb-fullscreen--holder{
  z-index: 9999;
}

//body.kontentblocks-ready .kb-fullscreen--holder * {
//  box-sizing: content-box;
//}

.kb-fullscreen--inner {
  height: 100%;
}

.kb-module--fullscreen {
  border: none;
  padding: 0;
}

