.kb-edit-on {
  background-color: $grey-900 !important;
  a {
    color: $blue !important;

  }
}

body.kb-editcontrols-show {
  .kb-area__empty{
    outline: 1px dashed $blue;
    display: block !important;
  }

  .kb-area__empty-placeholder{
    padding: 45px;
    text-align: center;
    cursor: pointer;
  }

  .module, .single-module, .module-merged{
    &:hover{
      outline: 1px dashed $blue;
    }
  }
}