

.kb-module__placeholder {
  border: 5px dashed #ccc;
  text-align: center;
  padding: 8px;
  color: #CCCCCC;
  margin: 8px 0;

  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.kb-module__dropzone {
  text-align: center;
  padding: 4px;
  font-size: 11px !important;
  margin: 8px 0;
  border: 1px dashed #ccc;
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  background-color: #333 !important;
  color: #fff !important;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  border-radius: 4px;
}

.kb-front-sortable-placeholder {
  background-color: $lightblue !important;
  width: 100%;
  visibility: visible;
  margin: 10px 0;
  padding: 0;
}

.kb-menubar-area-active {
  outline: 1px dotted #ccc;
}

.kb-editable-text-placeholder {
  background-color: #fcfcfc;
  padding: 8px;
  border: 1px dotted #ccc;
  margin: 8px 0;
  display: inline-block;
  width: 100%;
}

img.kb-inline-imageedit-attached {

  &:hover{
    cursor: pointer;
  }

}

.button.button-primary{
  text-transform: none !important;
}

.editable-element-active{
  outline: 1px solid $lighterblue;
}

.kb-inline-text--active *{
  background-color: #fff599;
}