.kb-loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10007;

  .kb-loading-loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #aaa;
    top: 50%;
    left: 50%;
    animation: loader 4s infinite ease;
  }

  .kb-loading-loader-inner {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid #aaa;
    top: 25%;
    left: 25%;
  }

}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }

  27% {
    transform: rotate(180deg);
  }

  51% {
    transform: rotate(180deg);
  }

  78% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}