$icon-size: 20px;

.kb-area__empty {
  display: none;
}

body.onsite-editing {
  .kb-area__empty {
    min-height: 100px;
    background-color: #f2f2f2;
    border: 1px dashed #ccc;
    display: block;
  }
}

.kontentblocks-ready .module {

  // wrap
  .controls-wrap {
    width: 100%;
    height: 24px;
    position: absolute;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;

    //    @include border-radius(0);
  }

  span.kb-module__draft-notice {
    font-size: 11px !important;
    display: block;
    width: 100%;
    background-color: red !important;

  }

  .controls-wrap-item {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
  }

  &.isDirty .kb-module-controls a.kb-module-inline-update {
    color: #cc0000 !important;
  }



}

.kb-module-nav__vertical {
  .controls-wrap li {
    display: block;
    margin-bottom: 1px !important;
    width: auto;
  }
}
//
//.kb-inline-control {
//  position: absolute;
//  cursor: pointer;
//  padding: 5px;
//  font-size: 10px;
//  border-radius: 100%;
//  @extend .base-box-shadow;
//  background-color: $grey-900;
//  color: #fff;
//  opacity: .1;
//
//  &:hover{
//    opacity: 1;
//  }
//}

.module:hover .kb-module-controls, .module-merged:hover .kb-module-controls {
  opacity: 1;
}

//.module:hover, .module-merged:hover {
//
//  .kb-inline-control {
//    opacity: 0.5;
//  }
//}
