<div id="kontentblocks-core-ui" class="postbox">
    <h3>{{ strings.editGmodulesTitle }}</h3>
    <div class="inside kb-module" id="{{ module.mid }}">
        <div class="kb-area-context-select">
            <label for="area-context-select">{{ strings.editGmodulesLabel }}</label>
            <select name="area-context" onchange="KB.Menus.reloadContext(this)" id="area-context-select">
                {% for context in contexts %}
                    <option {% if module.properties.areaContext == context.id %} selected="selected" {% endif %} value="{{ context.id }}">{{ context.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="kb-module__controls-inner">
            {{ module.form() }}
        </div>
    </div>
    <div class="global-module--attached">
        <h3>{{ strings.editGmodulesAttached }}</h3>
        <p>{{ strings.editGmoduleAttachedDescription }}</p>
        <table>
            <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="80%">{{ strings.title }}</th>
                <th width="10%">{{ strings.action }}</th>
            </tr>
            </thead>
            <tbody>

            {% for post in attachedTo %}

                <tr>
                    <td>{{ post.ID }}</td>
                    <td>{{ post.post_title }}</td>
                    <td><a target="krosstab" href="{{ get_edit_post_link(post.ID) }}">{{ strings.view }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="_nonce" value="{{ nonce }}">
</div>

